* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0px;
    flex-direction: row;
    display: flex;
}

.ui-menu { 
    width: 150px; 
    position: absolute;
    
}

.ui-menu2 {
     width: 200px;
     position: absolute;
}

.ui-widget-header { 
    padding: 0.2em; 
}

:root {
    --colorMain: #b24926;
}


.columnOne {
    flex: 1;
    background: var(--colorMain);
    height: 450vh;
    

}
.columnTwo {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.rowOne {
    display: flex;
    
}

header, footer{
    height: 20vh;
    background-color:  var(--colorMain);
}

.articleOne {
    border: solid black 10px;
    flex: 7;
    /*height: 377.7vh;*/
    background-color: white;

}
.articleTwo {
    flex: 2;
    height: 430vh;
    background-color:  var(--colorMain);
}

.headingText {
    font-size: 4em;
    padding-left: 2vw;
}

#smallTitleText {
    position: absolute;
    margin-top: 6vh;
    font-size: .25em;
}

.subheaderText {
    font-size: 2em;
    padding-left: 2vw;

}

.bodyText {
    font-size: 1em;
    padding-left: 2vw;
    padding-right: 2vw;
    line-height: 1.8em;
}

.miniHeaderText {
    margin-left: 4vw;
    font-size: 1em;
}

.miniText {
    margin-left: 4vw;
    font-size: 1em;
    margin-right: 4vw;
}

.miniText2 {
    margin-left: 20vw;
    font-size: 1em;
    margin-right: 4vw;
}

.accordionMain {
    margin-left: 2vw;
    margin-right: 2vw;
}
code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

  #red, #green, #blue {
    float: left;
    clear: left;
    width: 300px;
    margin: 15px;
  }
  #swatch {
    width: 120px;
    height: 100px;
    margin-top: 18px;
    margin-left: 350px;
    background-image: none;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }

  .toggler { width: 500px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 170px; padding: 0.4em; position: relative; }
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }
  .ui-effects-transfer { border: 2px dotted gray; }